.services-content {
  border-bottom: 3px solid green;

  .background {
    height: 100%;
  }


  .services-title {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 75%;
    text-align: justify;
    margin: 30%;

    h1,
    p {
        color: white;
    }
  }
}
