.aboutus-content {
    margin: 50px 0;

    .aboutus-title {
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
            width: 80%;
            margin: 10px auto;
        }
    }
}